# Panduan Verifikasi Label Studio

TODO: List of Content

## Daftar Label

| Label           | Nama Label                       | Penjelasan Singkat                                                     |
|:---------------:|:-------------------------------- |:---------------------------------------------------------------------- |
| [**CAR**](#car) | Cardinal                         | Nomor kardinal                                                         |
| [**DAT**](#dat) | Date                             | Tanggal                                                                |
| [**EVN**](#evn) | Event                            | *Event* atau sebuah peristiwa                                          |
| [**FAC**](#fac) | Facility                         | Fasilitas-fasilitas yang dapat berupa gedung atau bangunan             |
| [**GPE**](#gpe) | Geopolitical Entity              | Wilayah yang diatur secara politik, termasuk desa, kota, hingga negara |
| [**LAN**](#lan) | Language                         | Nama bahasa                                                            |
| [**LAW**](#law) | Law                              | Nama hukum                                                             |
| [**LOC**](#loc) | Location                         | Lokasi secara general                                                  |
| [**MON**](#mon) | Money                            | Nama mata uang                                                         |
| [**ORD**](#ord) | Ordinal                          | Nomor ordinal                                                          |
| [**ORG**](#org) | Organization                     | Nama perkumpulan atau organisasi                                       |
| [**PCN**](#pcn) | Percentage                       | Nilai Persen                                                           |
| [**PER**](#per) | Person                           | Nama seseorang                                                         |
| [**PRO**](#pro) | product                          | Nama sebuah produk                                                     |
| [**QUN**](#qun) | Quantity                         | Nilai jumlah                                                           |
| [**TIM**](#tim) | Time                             | Waktu                                                                  |
| [**WOA**](#woa) | Work or Art                      | Nama sebuah karya seni                                                 |
| [**URL**](#url) | *Uniform Resource Locator* (URL) | Alamat sebuah *web*                                                    |

### Definisi dan Contoh Masing-Masing Label

1. ###### CAR
   
   Lorem Ipsum dolor sit amet

2. ###### DAT
   
   Lorem Ipsum dolor sit amet

3. ###### EVN
   
   Lorem Ipsum dolor sit amet

4. ###### FAC
   
   Lorem Ipsum dolor sit amet

5. ###### GPE
   
   Lorem Ipsum dolor sit amet

6. ###### LAN
   
   Lorem Ipsum dolor sit amet

7. ###### LAW
   
   Lorem Ipsum dolor sit amet

8. ###### LOC
   
   Lorem Ipsum dolor sit amet

9. ###### MON
   
   Lorem Ipsum dolor sit amet

10. ###### ORD
    
    Lorem Ipsum dolor sit amet

11. ###### ORG
    
    Lorem Ipsum dolor sit amet

12. ###### PCN
    
    Lorem Ipsum dolor sit amet

13. ###### PER
    
    Lorem Ipsum dolor sit amet

14. ###### PRO
    
    Lorem Ipsum dolor sit amet

15. ###### QUN
    
    Lorem Ipsum dolor sit amet

16. ###### TIM
    
    Lorem Ipsum dolor sit amet

17. ###### WOA
    
    Lorem Ipsum dolor sit amet

18. ###### URL
    
    Lorem Ipsum dolor sit amet
